$black: #000000;
$white: #ffffff;

$dark-grey: #303030;

$red: #f30000fb;
$orange: #ffae00;
$yellow: #ffee00;
$light-green: #8eff55;
$dark-green: #0ece0e;

$theme-dark-blue: #172a53;
$theme-mint-green: #21c692;
$theme-white: #eaebe9;
$theme-dark-white: #dbe4bd;


$default: #aeadad;

$primary: #1489ff;
$success: #00ce0d;
$warning: #f1da19;
$danger: #ff2323;