<div class="text-center">
    <p class="display-1">About</p>
</div>
<p class="display-3">The History of Tinker</p>
<p>Tinker started off being a small coding challenge for me, my first bot in the complex world of Discord. The bot was
    originally named DevsApp and was developed to be a small personal helper bot for my programming Discord server
    "Devs". From there it began to grow, turn into a small project that I was really quite enjoying.
</p>
<p>
    And then it happened, the day I decided to work on this properly and produce a bot that the people of Discord could
    actually use. First step - Re-brand! I renamed the bot to Tinker and began working on it independently from my
    programming server.
</p>
<p>
    I wasn't sure where to start, I mean I had the basics of the bot working but what was it going to do, what was its
    purpose. But there was one thing I was absolutely certain of, I wanted to stay in-keeping with Discord's style,
    professional yet... slightly sassy.
</p>
<p>
    So the bot progressed with all the standard commands: help and ping, moderation, fun stuff like jokes and memes and
    then what I called the "messages update". This was the moment I decided Tinker was going to be an all-rounder, a
    must-have for any server a better MEE6!
</p>
<p>
    Yeah... I was pretty ambitious, but it gave me something to do when I was bored (as a student that was surprisingly
    often!).
</p>
<p>
    And that almost brings you to present day, to the Tinker you know and love (or at least should know soon!) The
    coolest helping hand, See you around!
</p>