<figure class="text-center">
  <h1 class="display-1">Tinker</h1>
  <blockquote class="blockquote">
    <p>
      <%= review.review %>
    </p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <%= review.source %>, <cite title="Source Title">
        <%= review.author %>
      </cite>
  </figcaption>
</figure>
<div class="text-center mt-5">
  <a class="btn btn-primary btn-lg" href="https://discord.com/api/oauth2/authorize?client_id=710141775808954389&permissions=8&scope=bot" role="button">Get Tinker</a>
  <a class="btn btn-primary btn-lg" href="https://discord.com/invite/aymBcRP" role="button">Support Server</a>
</div>