<div class="text-center">
    <p class="display-1">Premium</p>
</div>

<p class="display-3">What is Premium</p>
<p>Tinker is free to use for everyone, but unfortunately that doesn't make our costs mysteriously disappear. Our ethos
    is to reduce the internet clutter so no adverts and no selling your information (darn it that could have made us a
    sweet buck or two)</p>
<p>This means that only way our devs can earn a living is for you wonderful people to purchase premium</p>
<p>Premium isn't a waste of money for you though! It comes with some nice perks and benefits</p>

<p class="display-3">What does premium do for me?</p>
<p>Premium comes with many benefits, from extra slots for some commands and special functions for premium members only,
    here are the things that premium will allow you to do</p>

<div class="row">
    <div class="col-sm-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">Unlimited music queue</h5>
                    <p class="card-text">Add as many tracks to the queue as your heart desires!</p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">+ 5 Reaction Roles</h5>
                    <p class="card-text">Gain 5 extra messages to put reaction roles on</p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card-body">
                    <h5 class="card-title">Custom Commands</h5>
                    <p class="card-text">Create custom commands that will send text in response</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<p class="display-3">How Can I Get Premium</p>
<p>Right now premium is unavailable for purchase while we sort out some money handling or our end. But don't fret! While
    premium is unavailable, all features are accessible for free!</p>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Monthly Premium (£2.99)</h5>
                <p class="card-text">Pay your subscription monthly for premium benefits!</p>
                <a href="#" class="btn btn-primary disabled">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Yearly Premium (£29.99)</h5>
                <p class="card-text">Pay your subscription yearly for premium benefits and a reduced price!</p>
                <a href="#" class="btn btn-primary disabled">Purchase</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Lifetime Premium (£100)</h5>
                <p class="card-text">Pay once for premium benefits and a reduced price!</p>
                <a href="#" class="btn btn-primary disabled">Purchase</a>
            </div>
        </div>
    </div>
</div>