<footer class="footer pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a class="list-group-item disabled">Contact</a>
                <span class="list-group-item"><i class="fab fa-discord"></i> <a href="https://discord.com/invite/aymBcRP">Support Server</a></span>
                <span class="list-group-item"><i class="fab fa-youtube"></i> <a href="https://www.youtube.com/channel/UCjMTfkGv9oY-YDBvT1KVt2w">YouTube</a></span>
                <span class="list-group-item"><i class="fab fa-instagram"></i> <a href="https://www.instagram.com/inanis.omnia/">Instagram</a></span>
            </div>
            <div class="col-sm">
                <a class="list-group-item disabled">Product</a>
                <span class="list-group-item" ><img src="images/icons/TinkerHappy-32.png" alt="Tinker"> <a href="https://discord.com/api/oauth2/authorize?client_id=710141775808954389&permissions=8&scope=bot">Get Tinker</a></span>
                <span class="list-group-item"><i class="fas fa-credit-card"></i> <a href="/premium">Premium</a></span>
                <span class="list-group-item"><i class="fas fa-clipboard"></i> <a href="/changelog">Changelog</a></span>
            </div>
            <div class="col-sm">
                <a class="list-group-item disabled">Policies</a>
                <span class="list-group-item"><i class="fas fa-cookie"></i> <a href="/cookies">Cookies</a></span>
                <span class="list-group-item"><i class="fas fa-database"></i> <a href="/dataprivacy">Data Privacy</a></span>
                <span class="list-group-item"><i class="fas fa-clipboard"></i> <a href="/acknowledgements">Acknowledgements</a></span>
            </div>
        </div>
        <hr class="mt-3 mb-3" />
        <div class="row">
            <div class="col-sm text-right">
                <img src="/images/icons/TinkerHappy-128.png" alt="Tinker">
            </div>
            <div class="col-sm">
                <p class="display-1">Tinker</p>
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>
</footer>