<script>
    function sendMessage() {
        var request = new XMLHttpRequest();
        request.open("POST", "https://discordapp.com/api/webhooks/722456113139810318/jPJV3h-ffOITDjwq1UE2jgnMxUyXKNTjURUziTaG6pHRBhGfasuws2Fnrd1_Onq4LwgD");

        request.setRequestHeader('Content-type', 'application/json');

        var params = {
            username: "Captain Hook",
            avatar_url: "https://cdn.discordapp.com/avatars/709032869665832970/7e5935df4454de825026bc7dbc323b7e.webp",
            content: document.getElementById("contentinput") || "empty"
        }

        request.send(JSON.stringify(params));
    }
</script>
<input id="titleinput" type="text" placeholder="title">
<input id="contentinput" type="text", placeholder="content">
<button onclick="sendMessage()">Send</button>
